<!DOCTYPE html>
<html>
<head>
    <title>main page</title>
</head>
<body>
    <h1>welcome to weather app</h1>
    <p>you can get weather by searching below</p>
    <form>
        <input type="text" name="place" id="place" placeholder="location">
        <button>search</button>
    </form>
    <script src="../public/app.js"></script>
</body>
</html>